.sidebar {
  width: 274px;
  height: 568px;
  background: no-repeat center/cover url('../../assets/sidebar-bg.svg') grey;
  overflow: hidden;
  border-radius: 10px;
  padding: 4rem 3.2rem;
}

@media (max-width: 1050px) {
  .sidebar {
    width: 375px;
    height: 172px;
    display: flex;
    justify-content: center;
    background-position: center bottom 12%;
    border-radius: 0;
  }
}
